#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Curso: Informática II - I2R2003 CL2020
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=mgoghomiogkkgbljdjmkcablghocecdi
Icon=chrome-mgoghomiogkkgbljdjmkcablghocecdi-Default
StartupWMClass=crx_mgoghomiogkkgbljdjmkcablghocecdi
Name[en_US]=0_0_Curso: Informática II - I2R2003 CL2020
